@tailwind base;
@tailwind components;
@tailwind utilities;

@import "open-props/shadows";
@import "open-props/gradients";
@import "open-props/easings";
@import "open-props/animations";

.dark {
  --background: 0 0% 3%;
  --foreground: 0 0% 62%;
}

::selection {
  background-color: plum;
}

html.dark ::selection {
  color: black;
  background-color: thistle;
}

/* Set display font everywhere but homepage for headings */
body:not(:has(main.homepage)) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-google-display);
  }
}

/* Set sans font for API reference headings */
body:has(#query-parameters) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-google-sans);
  }
}

body:has(main.homepage)::before {
  --line: hsl(0 0% 65% / 0.25);
  --size: 100px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
  overflow-x: hidden;
}

html.dark body:has(main.homepage)::before {
  --line: hsl(0 0% 95% / 0.15);
}

/* Hero image moving glow */
.glow {
  animation: move 10s linear infinite;
  offset-path: rect(0% auto 100% auto);
  background: radial-gradient(#fff, #f1f5f9, transparent);
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}

/* Bookmarks, feeds, notes styling */
.hero h1 {
  margin-block: 1rem;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 0.8;
}

.hero {
  --red: #262626;
  --green: #404040;
  --yellow: #525252;
  --speed: 0.65s;
}

.hero h1 span {
  --color: var(--red);
  color: var(--color);
  position: relative;
  clip-path: inset(-20% 0);
  animation-name: text-reveal, shimmy;
  animation-duration: var(--speed);
  animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
  animation-fill-mode: both;
  animation-timing-function: steps(1), ease-out;
  font-weight: 800;
}

@keyframes shimmy {
  0% {
    transform: translateX(-1ch);
  }
}

@keyframes text-reveal {
  0% {
    color: transparent;
  }

  50%,
  100% {
    color: var(--color);
  }
}

.hero h1 span:after {
  content: "";
  position: absolute;
  inset: -20% 0;
  background-color: var(--color);
  animation-name: block-reveal;
  animation-duration: var(--speed);
  animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
  animation-fill-mode: both;
}

@keyframes block-reveal {
  0% {
    transform: translateX(-110%);
  }

  45%,
  55% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(110%);
  }
}

.hero h1 span:nth-of-type(1) {
  --color: var(--green);
  --index: 0;
}

.hero h1 span:nth-of-type(2) {
  --color: var(--yellow);
  --index: 1;
}

.hero h1 span:nth-of-type(3) {
  --color: var(--red);
  --index: 2;
}

/* 
 * Homepage Horizontal Scroller 
 * @link https://codepen.io/jh3y/pen/GReZEwK
 **/

.homepage-scroll {
  --card-width: clamp(400px, 80vmin, 1000px);
}

.homepage-scroll .track {
  width: 100%;
  position: relative;
}

.homepage-scroll .track ::-webkit-scrollbar {
  display: none;
}

.homepage-scroll ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 10px 0;
  padding-inline: calc(50vw - (var(--card-width) * 0.5));
  scroll-snap-type: x mandatory;
  max-width: 100%;
  list-style-type: none;
  overflow: auto;
  height: 100%;
  align-content: center;
  align-items: flex-start;
  scroll-behavior: smooth;
  scroll-padding-inline: calc(50vw - (var(--card-width) * 0.5));
}

.homepage-scroll li {
  scroll-snap-align: center;
  padding: 0;
  margin: 20px 0;
}

.homepage-scroll :is(li, .indicator):nth-of-type(1) picture,
.homepage-scroll :is(li, .indicator):nth-of-type(1) {
  --hue: 0;
  --hsl: 343deg 76% 68%;
}

.homepage-scroll :is(li, .indicator):nth-of-type(2) picture,
.homepage-scroll :is(li, .indicator):nth-of-type(2) {
  --hue: 140;
  --hsl: 35deg 88% 72%;
}

.homepage-scroll :is(li, .indicator):nth-of-type(3) picture,
.homepage-scroll :is(li, .indicator):nth-of-type(3) {
  --hue: 45;
  --hsl: 2deg 55% 83%;
}

.homepage-scroll :is(li, .indicator):nth-of-type(4) picture,
.homepage-scroll :is(li, .indicator):nth-of-type(4) {
  --hue: 210;
  --hsl: 267deg 57% 78%;
}

.homepage-scroll :is(li, .indicator):nth-of-type(5) picture,
.homepage-scroll :is(li, .indicator):nth-of-type(5) {
  --hue: 280;
  --hsl: 189deg 43% 73%;
}

.homepage-scroll :is(li, .indicator):nth-of-type(6) picture,
.homepage-scroll :is(li, .indicator):nth-of-type(6) {
  --hue: 320;
  --hsl: 197deg 49% 38%;
}

.homepage-scroll article {
  @apply shadow-sm md:shadow-md;

  width: var(--card-width);
  border-radius: 1rem;
  border-top: 5px solid hsl(var(--hsl));
  background: hsl(var(--hsl));

  @apply border-t-[5px] rounded-xl md:rounded-2xl;
}

.homepage-scroll article picture {
  background: hsl(var(--hsl));
  border: none;
  @apply p-0 md:p-1 rounded-xl md:rounded-2xl;
}

.homepage-scroll article img {
  @apply rounded-xl md:rounded-2xl;
}

.homepage-scroll .track__indicators {
  height: 20px;
  position: absolute;
  top: calc(50% + ((var(--card-width) * (3 / 4)) * 0.5) + 2rem);
  left: 50%;
  translate: -50% 0;
  display: flex;
}

.homepage-scroll .indicator {
  --color: hsl(var(--hue, 0) 0% 86%);
  background: linear-gradient(var(--color), var(--color)) padding-box;
  flex: 1;
  border-radius: 100px;
  height: 100%;
  min-width: 20px;
  cursor: pointer;
  padding: 0;
  position: relative;
  border: 4px solid transparent;
}

.homepage-scroll .indicator::after {
  content: "";
  border-radius: 100px;
  position: absolute;
  inset: 0;
  background: hsl(var(--hsl));
}

@supports (animation-timeline: scroll()) {
  .homepage-scroll .track {
    timeline-scope: --one, --two, --three, --four, --five, --six, --seven;
  }

  .homepage-scroll .track__indicators {
    aspect-ratio: 8 / 1;
  }

  .homepage-scroll li:nth-of-type(1) {
    view-timeline: --one inline;
  }

  .homepage-scroll li:nth-of-type(2) {
    view-timeline: --two inline;
  }

  .homepage-scroll li:nth-of-type(3) {
    view-timeline: --three inline;
  }

  .homepage-scroll li:nth-of-type(4) {
    view-timeline: --four inline;
  }

  .homepage-scroll li:nth-of-type(5) {
    view-timeline: --five inline;
  }

  .homepage-scroll li:nth-of-type(6) {
    view-timeline: --six inline;
  }

  .homepage-scroll .indicator {
    --buffer: calc(var(--card-width) * 0.9);
    animation: blink both linear;
    animation-range: contain calc(50% - var(--buffer)) contain
      calc(50% + var(--buffer));
  }

  .homepage-scroll .indicator:nth-of-type(1) {
    animation-timeline: --one;
  }

  .homepage-scroll .indicator:nth-of-type(2) {
    animation-timeline: --two;
  }

  .homepage-scroll .indicator:nth-of-type(3) {
    animation-timeline: --three;
  }

  .homepage-scroll .indicator:nth-of-type(4) {
    animation-timeline: --four;
  }

  .homepage-scroll .indicator:nth-of-type(5) {
    animation-timeline: --five;
  }

  .homepage-scroll .indicator:nth-of-type(6) {
    animation-timeline: --six;
  }

  @keyframes blink {
    50% {
      flex: 3;
    }
  }

  .homepage-scroll .indicator::after {
    --buffer: calc(var(--card-width) * 0.9);
    opacity: 0;
    animation: show both linear;
    animation-range: contain calc(50% - var(--buffer)) contain
      calc(50% + var(--buffer));
  }

  .homepage-scroll .indicator:nth-of-type(1)::after {
    animation-timeline: --one;
  }

  .homepage-scroll .indicator:nth-of-type(2)::after {
    animation-timeline: --two;
  }

  .homepage-scroll .indicator:nth-of-type(3)::after {
    animation-timeline: --three;
  }

  .homepage-scroll .indicator:nth-of-type(4)::after {
    animation-timeline: --four;
  }

  .homepage-scroll .indicator:nth-of-type(5)::after {
    animation-timeline: --five;
  }

  .homepage-scroll .indicator:nth-of-type(6)::after {
    animation-timeline: --six;
  }

  @keyframes show {
    50% {
      opacity: 1;
    }
  }
}

/* 
 * Hero Text Gradient
 * @link https://codepen.io/jh3y/pen/PoLmpOB
 **/

.hero-text h1 {
  --font-size: clamp(2rem, 10vw + 1rem, 18rem);
  margin-top: 2rem;
  position: relative;
  display: flex;
  align-items: flex-start;
}

html.dark .hero-text h1 {
  color: hsl(0 0% 100%);
}

.hero-text .pops {
  position: absolute;
  inset: 0;
  background: white;
  mix-blend-mode: lighten;
  filter: brightness(2);
  overflow: hidden;
  pointer-events: none;
}

html.dark {
  .hero-text .pops {
    mix-blend-mode: darken !important;
  }
}

@keyframes pop {
  50% {
    background-size: 100% 100%;
  }
}

.hero-text .pop {
  height: var(--size, 100%);
  aspect-ratio: 1;
  background: radial-gradient(hsl(var(--h) 100% 70%) 25%, transparent 50%);
  position: absolute;
  display: inline-block;
  animation: scale var(--s, 5s) var(--d, 2s) infinite alternate;
  left: var(--x, 0);
  top: var(--y, 0);
  scale: 1;
  translate: -50% -50%;
  mix-blend-mode: multiply;
  filter: blur(5px);
}

.hero-text .pop:nth-of-type(1) {
  --x: 10%;
  --y: 25%;
  --h: 277;
  --s2: 6;
  --d: -0.25s;
  --s: 7s;
}

.hero-text .pop:nth-of-type(2) {
  --x: 50%;
  --y: 45%;
  --h: 140;
  --s2: 5;
  --d: -0.75s;
  --s: 6s;
}

.hero-text .pop:nth-of-type(3) {
  --x: 65%;
  --y: 75%;
  --h: 210;
  --s2: 3;
  --d: -0.5s;
  --s: 5s;
}

.hero-text .pop:nth-of-type(4) {
  --x: 85%;
  --y: 55%;
  --h: 320;
  --s2: 5;
  --d: -1s;
  --s: 3s;
}

.hero-text .pop:nth-of-type(5) {
  --x: 15%;
  --y: 100%;
  --h: 40;
  --s2: 3;
  --d: -1s;
  --s: 3s;
}

@keyframes scale {
  to {
    scale: var(--s2);
  }
}

/* Sidebar Tweaks */
aside div[data-radix-scroll-area-viewport] p {
  font-family: var(--font-google-display);
  font-size: 1.2rem;
}

/* FAQ details / summary chevrons */
details > summary {
  list-style: none;
  position: relative;
}

details > summary::before {
  height: 20px;
  width: 6px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='85 35 103 185'%3E%3Crect width='32' height='32' fill='none'/%3E%3Cpolyline points='96 48 176 128 96 208' fill='none' stroke='%23545454' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");

  position: absolute;
  top: 3px;
  left: -15px;
  transform: rotate(0);
  transform-origin: 3px 15px;
  transition: all 250ms ease-in-out;
}

details[open] > summary::before {
  transform: rotate(90deg);
}

.prose table th {
  @apply text-left;
}
